<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmn.census.action.mapper.PersonInfoMapper">

    <resultMap type="com.zmn.census.api.vo.PersonInfoVO" id="ZmnCensusPersonInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="roomAddressId" column="room_address_id" jdbcType="INTEGER"/>
        <result property="d1" column="d1" jdbcType="VARCHAR"/>
        <result property="d2" column="d2" jdbcType="VARCHAR"/>
        <result property="d3" column="d3" jdbcType="VARCHAR"/>
        <result property="d4" column="d4" jdbcType="VARCHAR"/>
        <result property="d5" column="d5" jdbcType="VARCHAR"/>
        <result property="d6" column="d6" jdbcType="VARCHAR"/>
        <result property="d7" column="d7" jdbcType="VARCHAR"/>
        <result property="d7Province" column="d7_province" jdbcType="VARCHAR"/>
        <result property="d7City" column="d7_city" jdbcType="VARCHAR"/>
        <result property="d7County" column="d7_county" jdbcType="VARCHAR"/>
        <result property="d8" column="d8" jdbcType="VARCHAR"/>
        <result property="d8Province" column="d8_province" jdbcType="VARCHAR"/>
        <result property="d8City" column="d8_city" jdbcType="VARCHAR"/>
        <result property="d8County" column="d8_county" jdbcType="VARCHAR"/>
        <result property="d9" column="d9" jdbcType="VARCHAR"/>
        <result property="d10" column="d10" jdbcType="VARCHAR"/>
        <result property="d11" column="d11" jdbcType="VARCHAR"/>
        <result property="d12" column="d12" jdbcType="VARCHAR"/>
        <result property="d13" column="d13"/>
        <result property="d14" column="d14"/>
        <result property="d15" column="d15"/>
        <result property="d15Province" column="d15_province"/>
        <result property="d16" column="d16"/>
        <result property="d16Province" column="d16_province"/>
        <result property="d16City" column="d16_city"/>
        <result property="d16County" column="d16_county"/>
        <result property="d18" column="d18"/>
        <result property="d20" column="d20"/>
        <result property="d20Hour" column="d20_hour"/>
        <result property="d21" column="d21"/>
        <result property="d22Name" column="d22_name"/>
        <result property="d22Business" column="d22_business"/>
        <result property="d23" column="d23"/>
        <result property="d24" column="d24"/>
        <result property="d25" column="d25"/>
        <result property="d26" column="d26"/>
        <result property="d27Year" column="d27_year"/>
        <result property="d27Month" column="d27_month"/>
        <result property="d28" column="d28"/>
        <result property="d28BirthMan" column="d28_birth_man"/>
        <result property="d28BirthWoman" column="d28_birth_woman"/>
        <result property="d28LiveMan" column="d28_live_man"/>
        <result property="d28LiveWoman" column="d28_live_woman"/>
        <result property="d29" column="d29"/>
        <result property="d29FirstBirth" column="d29_first_birth"/>
        <result property="d29FirstGender" column="d29_first_gender"/>
        <result property="d29SecondBirth" column="d29_second_birth"/>
        <result property="d29SecondGender" column="d29_second_gender"/>
        <result property="d30" column="d30"/>
        <result property="d31" column="d31"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
        <result property="modifiedDate" column="modified_date" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="queryByRoomAddressId" resultMap="ZmnCensusPersonInfoMap">
        select
        *
        from zmn_census_person_info t1
        where t1.deleted=0 and  t1.room_address_id = #{roomAddressId}
    </select>

    <select id="queryD7AndD8ByRoomAddressId" resultType="com.zmn.census.api.vo.ExportHouseHoldDataPersonVO">
        select
        d7,d8
        from zmn_census_person_info t1
        where t1.deleted=0 and  t1.room_address_id = #{roomAddressId}
    </select>

    <update id="deleteByRoomAddressId">
        update zmn_census_person_info set deleted = 1 where
        room_address_id = #{roomAddressId}
    </update>

</mapper>