<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmn.census.action.mapper.RoomAddressMapper">

    <resultMap type="com.zmn.census.api.vo.RoomAddressVO" id="ZmnCensusRoomAddressMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="chargePersonId" column="charge_person_id" jdbcType="INTEGER"/>
        <result property="chargePersonName" column="charge_person_name" jdbcType="VARCHAR"/>
        <result property="communityId" column="community_id" jdbcType="INTEGER"/>
        <result property="personCount" column="person_count" jdbcType="INTEGER"/>
        <result property="province" column="province" jdbcType="VARCHAR"/>
        <result property="city" column="city" jdbcType="VARCHAR"/>
        <result property="county" column="county" jdbcType="VARCHAR"/>
        <result property="town" column="town" jdbcType="VARCHAR"/>
        <result property="area" column="area" jdbcType="VARCHAR"/>
        <result property="village" column="village" jdbcType="VARCHAR"/>
        <result property="community" column="community" jdbcType="VARCHAR"/>
        <result property="buildNum" column="build_num" jdbcType="VARCHAR"/>
        <result property="unitNum" column="unit_num" jdbcType="VARCHAR"/>
        <result property="floorNum" column="floor_num" jdbcType="VARCHAR"/>
        <result property="roomNum" column="room_num" jdbcType="VARCHAR"/>
        <result property="fillPersonPhone" column="fill_person_phone" jdbcType="VARCHAR"/>
        <result property="examinePersonName" column="examine_person_name" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
        <result property="modifiedDate" column="modified_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap type="com.zmn.census.api.vo.CensusSurveyVO" id="CensusSurveyInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <association property="roomAddress" javaType="com.zmn.census.api.vo.RoomAddressVO" column="id"
                     select="queryRoomAddressById"/>
        <association property="houseHold" javaType="com.zmn.census.api.vo.HouseHoldVO" column="id"
                     select="com.zmn.census.action.mapper.HouseHoldMapper.queryByRoomAddressId"/>
        <collection property="personInfoList" ofType="com.zmn.census.api.vo.PersonInfoVO" column="id"
                    select="com.zmn.census.action.mapper.PersonInfoMapper.queryByRoomAddressId"/>
    </resultMap>

    <resultMap type="com.zmn.census.api.vo.ExportHouseHoldDataVO" id="ExportHouseHoldDataMap">
        <result property="createdDate" column="createdDate" />
        <result property="examinePersonName" column="examinePersonName" />
        <result property="roomAddressId" column="roomAddressId" />
        <result property="area" column="area" />
        <result property="community" column="community" />
        <result property="buildNum" column="buildNum" />
        <result property="unitNum" column="unitNum" />
        <result property="floorNum" column="floorNum" />
        <result property="roomNum" column="roomNum" />
        <result property="fillPersonPhone" column="fillPersonPhone" />
        <result property="h2Live" column="h2Live" />
        <result property="h2NoLive" column="h2NoLive" />
        <result property="h3Man" column="h3Man" />
        <result property="h3Woman" column="h3Woman" />
        <result property="h4Man" column="h4Man" />
        <result property="h4Woman" column="h4Woman" />
        <result property="h10" column="h10"/>
        <result property="h11" column="h11"/>
        <result property="h12" column="h12"/>
        <result property="h13" column="h13"/>
        <result property="h14" column="h14"/>
        <result property="h15" column="h15"/>
        <result property="h16" column="h16"/>
        <result property="h17" column="h17"/>
        <result property="h18" column="h18"/>
        <result property="h19" column="h19"/>
        <result property="h20" column="h20"/>
        <result property="d1" column="d1" />
        <result property="d2" column="d2" />
        <result property="d7" column="d7" />
        <result property="d8" column="d8" />
    </resultMap>

    <resultMap type="com.zmn.census.api.vo.ExportHouseHoldAndPersonInfoVO" id="ZmnCensusHouseHoldAndPersonInfoMap">
        <result property="roomAddressId" column="roomAddressId" />
        <result property="community" column="community" jdbcType="VARCHAR"/>
        <result property="buildNum" column="build_num" jdbcType="VARCHAR"/>
        <result property="unitNum" column="unit_num" jdbcType="VARCHAR"/>
        <result property="floorNum" column="floor_num" jdbcType="VARCHAR"/>
        <result property="roomNum" column="room_num" jdbcType="VARCHAR"/>
        <result property="h1" column="h1" jdbcType="VARCHAR"/>
        <result property="h2Live" column="h2_live" jdbcType="VARCHAR"/>
        <result property="h2NoLive" column="h2_no_live" jdbcType="VARCHAR"/>
        <result property="h3Man" column="h3_man" jdbcType="VARCHAR"/>
        <result property="h3Woman" column="h3_woman" jdbcType="VARCHAR"/>
        <result property="h4Man" column="h4_man" jdbcType="VARCHAR"/>
        <result property="h4Woman" column="h4_woman" jdbcType="VARCHAR"/>
        <result property="h5" column="h5" jdbcType="VARCHAR"/>
        <result property="h6" column="h6" jdbcType="VARCHAR"/>
        <result property="h7" column="h7" jdbcType="VARCHAR"/>
        <result property="h8" column="h8" jdbcType="VARCHAR"/>
        <result property="h9" column="h9" jdbcType="VARCHAR"/>
        <result property="h10" column="h10"/>
        <result property="h11" column="h11"/>
        <result property="h12" column="h12"/>
        <result property="h13" column="h13"/>
        <result property="h14" column="h14"/>
        <result property="h15" column="h15"/>
        <result property="h16" column="h16"/>
        <result property="h17" column="h17"/>
        <result property="h18" column="h18"/>
        <result property="h19" column="h19"/>
        <result property="h20" column="h20"/>
        <result property="d1" column="d1" jdbcType="VARCHAR"/>
        <result property="d2" column="d2" jdbcType="VARCHAR"/>
        <result property="d3" column="d3" jdbcType="VARCHAR"/>
        <result property="d4" column="d4" jdbcType="VARCHAR"/>
        <result property="d5" column="d5" jdbcType="VARCHAR"/>
        <result property="d6" column="d6" jdbcType="VARCHAR"/>
        <result property="d7" column="d7" jdbcType="VARCHAR"/>
        <result property="d7Province" column="d7_province" jdbcType="VARCHAR"/>
        <result property="d7City" column="d7_city" jdbcType="VARCHAR"/>
        <result property="d7County" column="d7_county" jdbcType="VARCHAR"/>
        <result property="d8" column="d8" jdbcType="VARCHAR"/>
        <result property="d8Province" column="d8_province" jdbcType="VARCHAR"/>
        <result property="d8City" column="d8_city" jdbcType="VARCHAR"/>
        <result property="d8County" column="d8_county" jdbcType="VARCHAR"/>
        <result property="d9" column="d9" jdbcType="VARCHAR"/>
        <result property="d10" column="d10" jdbcType="VARCHAR"/>
        <result property="d11" column="d11" jdbcType="VARCHAR"/>
        <result property="d12" column="d12" jdbcType="VARCHAR"/>
        <result property="d13" column="d13"/>
        <result property="d14" column="d14"/>
        <result property="d15" column="d15"/>
        <result property="d15Province" column="d15_province"/>
        <result property="d16" column="d16"/>
        <result property="d16Province" column="d16_province"/>
        <result property="d16City" column="d16_city"/>
        <result property="d16County" column="d16_county"/>
        <result property="d18" column="d18"/>
        <result property="d20" column="d20"/>
        <result property="d20Hour" column="d20_hour"/>
        <result property="d21" column="d21"/>
        <result property="d22Name" column="d22_name"/>
        <result property="d22Business" column="d22_business"/>
        <result property="d23" column="d23"/>
        <result property="d24" column="d24"/>
        <result property="d25" column="d25"/>
        <result property="d26" column="d26"/>
        <result property="d27Year" column="d27_year"/>
        <result property="d27Month" column="d27_month"/>
        <result property="d28" column="d28"/>
        <result property="d28BirthMan" column="d28_birth_man"/>
        <result property="d28BirthWoman" column="d28_birth_woman"/>
        <result property="d28LiveMan" column="d28_live_man"/>
        <result property="d28LiveWoman" column="d28_live_woman"/>
        <result property="d29" column="d29"/>
        <result property="d29FirstBirth" column="d29_first_birth"/>
        <result property="d29FirstGender" column="d29_first_gender"/>
        <result property="d29SecondBirth" column="d29_second_birth"/>
        <result property="d29SecondGender" column="d29_second_gender"/>
        <result property="d30" column="d30"/>
        <result property="d31" column="d31"/>
        <result property="createdDate" column="created_date" />
        <result property="examinePersonName" column="examine_person_name" />
    </resultMap>

    <select id="getCensusSurveyVO" resultMap="CensusSurveyInfoMap">
        select
        id
        from zmn_census_room_address t1
        where  t1.deleted =0 and t1.id= #{id,jdbcType=INTEGER}
    </select>

    <select id="findCensusSurveyVOList" resultMap="CensusSurveyInfoMap">
        select
        id
        from zmn_census_room_address t1
        <where>
            AND t1.deleted =0
            <if test="type !=null and type!=''">
                and t1.type= #{type,jdbcType=VARCHAR}
            </if>
            <if test="roomAddressId !=null and roomAddressId!=''">
                and t1.id= #{roomAddressId,jdbcType=INTEGER}
            </if>
            <if test="area !=null and area!=''">
                AND t1.area LIKE concat('%',#{area,jdbcType=VARCHAR},'%')
            </if>
            <if test="town !=null and town!=''">
                AND t1.town LIKE concat('%',#{town,jdbcType=VARCHAR},'%')
            </if>
            <if test="village !=null and village!=''">
                AND t1.village LIKE concat('%',#{village,jdbcType=VARCHAR},'%')
            </if>
            <if test="community !=null and community!=''">
                AND t1.community LIKE concat('%',#{community,jdbcType=VARCHAR},'%')
            </if>
            <if test="buildNum !=null and buildNum!=''">
                AND t1.build_num LIKE concat('%',#{buildNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="unitNum !=null and unitNum!=''">
                AND t1.unit_num LIKE concat('%',#{unitNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="floorNum !=null and floorNum!=''">
                AND t1.floor_num LIKE concat('%',#{floorNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="roomNum !=null and roomNum!=''">
                AND t1.room_num LIKE concat('%',#{roomNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="examinePersonName !=null and examinePersonName!=''">
                AND t1.examine_person_name LIKE concat('%',#{examinePersonName,jdbcType=VARCHAR},'%')
            </if>
            <if test="chargePersonId !=null">
                and t1.charge_person_id= #{chargePersonId,jdbcType=INTEGER}
            </if>
            <if test="startTime !=null and startTime!='' and endTime !=null and endTime!=''">
                AND created_date &gt; #{startTime,jdbcType=VARCHAR} and created_date &lt; #{endTime,jdbcType=VARCHAR}
            </if>
        </where>

        order by created_date desc

    </select>

    <select id="queryRoomAddressById" resultMap="ZmnCensusRoomAddressMap">
        select
        *
        from zmn_census_room_address t1
        where t1.deleted=0 and  t1.id = #{id}
    </select>

    <select id="selectAllCommunityCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM zmn_census_community where deleted = 0
    </select>

    <select id="selectAllSurveyCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM zmn_census_room_address where deleted = 0
    </select>

    <select id="selectAllPersonCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM zmn_census_person_info where deleted = 0
    </select>

    <select id="selectYesterdaySurveyCount" resultType="java.lang.Integer">
       SELECT COUNT(*) FROM zmn_census_room_address WHERE deleted =0 AND  TO_DAYS(created_date) = TO_DAYS(NOW())-1;
    </select>

    <select id="selectTodaySurveyCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM zmn_census_room_address WHERE deleted =0 AND  TO_DAYS(created_date) = TO_DAYS(NOW())
    </select>

    <select id="selectSurveyCount" parameterType="com.zmn.census.api.qo.CensusSurveyCountQO" resultType="com.zmn.census.api.vo.CensusSurveyCountVO">
        SELECT
        DATE_FORMAT(created_date, '%Y-%m-%d') AS time,
        count(*) AS surveyCount,
        SUM(person_count) AS personCount
        FROM
            zmn_census_room_address
        <where>
            AND deleted =0
            <if test="communityId !=null">
                and community_id= #{communityId,jdbcType=INTEGER}
            </if>

        </where>
        GROUP BY  time
        ORDER BY time ASC;
    </select>

    <select id="findExportCommunityPersonInfo" resultType="com.zmn.census.api.vo.ExportCommunityPersonInfoVO">
        select
        charge_person_name as chargePersonName, area as area,community,count(*) as realHoldCount, sum(person_count) as realPersonCount
        from zmn_census_room_address as t1
        <where>
            AND t1.deleted =0
            <if test="roomAddressId !=null and roomAddressId!=''">
                and t1.id= #{roomAddressId,jdbcType=INTEGER}
            </if>
            <if test="type !=null and type!=''">
                and t1.type= #{type,jdbcType=VARCHAR}
            </if>
            <if test="area !=null and area!=''">
                AND t1.area LIKE concat('%',#{area,jdbcType=VARCHAR},'%')
            </if>
            <if test="town !=null and town!=''">
                AND t1.town LIKE concat('%',#{town,jdbcType=VARCHAR},'%')
            </if>
            <if test="village !=null and village!=''">
                AND t1.village LIKE concat('%',#{village,jdbcType=VARCHAR},'%')
            </if>
            <if test="community !=null and community!=''">
                AND t1.community LIKE concat('%',#{community,jdbcType=VARCHAR},'%')
            </if>
            <if test="buildNum !=null and buildNum!=''">
                AND t1.build_num LIKE concat('%',#{buildNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="unitNum !=null and unitNum!=''">
                AND t1.unit_num LIKE concat('%',#{unitNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="floorNum !=null and floorNum!=''">
                AND t1.floor_num LIKE concat('%',#{floorNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="roomNum !=null and roomNum!=''">
                AND t1.room_num LIKE concat('%',#{roomNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="examinePersonName !=null and examinePersonName!=''">
                AND t1.examine_person_name LIKE concat('%',#{examinePersonName,jdbcType=VARCHAR},'%')
            </if>
            <if test="chargePersonId !=null">
                and t1.charge_person_id= #{chargePersonId,jdbcType=INTEGER}
            </if>
            <if test="startTime !=null and startTime!='' and endTime !=null and endTime!=''">
                AND t1.created_date &gt; #{startTime,jdbcType=VARCHAR} and t1.created_date &lt; #{endTime,jdbcType=VARCHAR}
            </if>
        </where>
        group by t1.community
        order by t1.community

    </select>

    <select id="findExportHouseHoldInfo" resultMap="ExportHouseHoldDataMap">
       select zcra.id as roomAddressId, zcra.area as area,zcra.community as community, zcra.build_num as buildNum,zcra.unit_num as unitNum,zcra.floor_num as floorNum,zcra.room_num as roomNum,
        zcra.created_date as createdDate,
        zcra.fill_person_phone as fillPersonPhone, zcra.examine_person_name as examinePersonName,
       zchh.h2_live as h2Live,zchh.h2_no_live as h2NoLive, zchh.h3_man as h3Man, zchh.h3_woman as h3Woman,
       zchh.h4_man as h4Man, zchh.h4_woman as h4Woman,zchh.h10,zchh.h11,zchh.h12,zchh.h13,zchh.h14,zchh.h15,zchh.h16,zchh.h17,zchh.h18,zchh.h19,zchh.h20,
        zcpi.d1 as d1, zcpi.d2 as d2,zcpi.d7 as d7, zcpi.d8 as d8
       from zmn_census_room_address zcra left join zmn_census_house_hold zchh on zcra.id = zchh.room_address_id
        left join zmn_census_person_info zcpi on zcra.id = zcpi.room_address_id
        <where>
            AND zcra.deleted = 0 and zcra.deleted = 0 and zcpi.deleted = 0
            <if test="roomAddressId !=null and roomAddressId!=''">
                and zcra.id= #{roomAddressId,jdbcType=INTEGER}
            </if>
            <if test="type !=null and type!=''">
                and zcra.type= #{type,jdbcType=VARCHAR}
            </if>
            <if test="area !=null and area!=''">
                AND zcra.area LIKE concat('%',#{area,jdbcType=VARCHAR},'%')
            </if>
            <if test="town !=null and town!=''">
                AND zcra.town LIKE concat('%',#{town,jdbcType=VARCHAR},'%')
            </if>
            <if test="village !=null and village!=''">
                AND zcra.village LIKE concat('%',#{village,jdbcType=VARCHAR},'%')
            </if>
            <if test="community !=null and community!=''">
                AND zcra.community LIKE concat('%',#{community,jdbcType=VARCHAR},'%')
            </if>
            <if test="buildNum !=null and buildNum!=''">
                AND zcra.build_num LIKE concat('%',#{buildNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="unitNum !=null and unitNum!=''">
                AND zcra.unit_num LIKE concat('%',#{unitNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="floorNum !=null and floorNum!=''">
                AND zcra.floor_num LIKE concat('%',#{floorNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="roomNum !=null and roomNum!=''">
                AND zcra.room_num LIKE concat('%',#{roomNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="examinePersonName !=null and examinePersonName!=''">
                AND zcra.examine_person_name LIKE concat('%',#{examinePersonName,jdbcType=VARCHAR},'%')
            </if>
            <if test="chargePersonId !=null">
                and zcra.charge_person_id= #{chargePersonId,jdbcType=INTEGER}
            </if>
            <if test="startTime !=null and startTime!='' and endTime !=null and endTime!=''">
                AND zcra.created_date &gt; #{startTime,jdbcType=VARCHAR} and zcra.created_date &lt; #{endTime,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="findExportHouseHoldAndPersonInfo" resultMap="ZmnCensusHouseHoldAndPersonInfoMap">
        select zcra.id as roomAddressId,zcra.*,zchh.*,zcpi.*,
        CONVERT(zcra.build_num,SIGNED) as buildNumInt,
        CONVERT(zcra.unit_num,SIGNED) as unitNumInt,
        CONVERT(zcra.floor_num,SIGNED) as floorNumInt,
        CONVERT(zcra.room_num,SIGNED) as roomNumInt
        from zmn_census_room_address zcra left join zmn_census_house_hold zchh on zcra.id = zchh.room_address_id
        left join zmn_census_person_info zcpi on zcra.id = zcpi.room_address_id
        <where>
            AND zcra.deleted = 0 and zcra.deleted = 0 and zcpi.deleted = 0
            <if test="roomAddressId !=null and roomAddressId!=''">
                and zcra.id= #{roomAddressId,jdbcType=INTEGER}
            </if>
            <if test="type !=null and type!=''">
                and zcra.type= #{type,jdbcType=VARCHAR}
            </if>
            <if test="area !=null and area!=''">
                AND zcra.area LIKE concat('%',#{area,jdbcType=VARCHAR},'%')
            </if>
            <if test="town !=null and town!=''">
                AND zcra.town LIKE concat('%',#{town,jdbcType=VARCHAR},'%')
            </if>
            <if test="village !=null and village!=''">
                AND zcra.village LIKE concat('%',#{village,jdbcType=VARCHAR},'%')
            </if>
            <if test="community !=null and community!=''">
                AND zcra.community LIKE concat('%',#{community,jdbcType=VARCHAR},'%')
            </if>
            <if test="buildNum !=null and buildNum!=''">
                AND zcra.build_num LIKE concat('%',#{buildNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="unitNum !=null and unitNum!=''">
                AND zcra.unit_num LIKE concat('%',#{unitNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="floorNum !=null and floorNum!=''">
                AND zcra.floor_num LIKE concat('%',#{floorNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="roomNum !=null and roomNum!=''">
                AND zcra.room_num LIKE concat('%',#{roomNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="examinePersonName !=null and examinePersonName!=''">
                AND zcra.examine_person_name LIKE concat('%',#{examinePersonName,jdbcType=VARCHAR},'%')
            </if>
            <if test="chargePersonId !=null">
                and zcra.charge_person_id= #{chargePersonId,jdbcType=INTEGER}
            </if>
            <if test="startTime !=null and startTime!='' and endTime !=null and endTime!=''">
                AND zcra.created_date &gt; #{startTime,jdbcType=VARCHAR} and zcra.created_date &lt; #{endTime,jdbcType=VARCHAR}
            </if>
        </where>
        order by zcra.community,buildNumInt,unitNumInt,floorNumInt,roomNumInt,roomAddressId
    </select>

</mapper>