<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmn.census.action.mapper.RoomAddressMapper">

    <resultMap type="com.zmn.census.api.vo.RoomAddressVO" id="ZmnCensusRoomAddressMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="chargePersonId" column="charge_person_id" jdbcType="INTEGER"/>
        <result property="chargePersonName" column="charge_person_name" jdbcType="VARCHAR"/>
        <result property="communityId" column="community_id" jdbcType="INTEGER"/>
        <result property="personCount" column="person_count" jdbcType="INTEGER"/>
        <result property="province" column="province" jdbcType="VARCHAR"/>
        <result property="city" column="city" jdbcType="VARCHAR"/>
        <result property="county" column="county" jdbcType="VARCHAR"/>
        <result property="town" column="town" jdbcType="VARCHAR"/>
        <result property="village" column="village" jdbcType="VARCHAR"/>
        <result property="community" column="community" jdbcType="VARCHAR"/>
        <result property="buildNum" column="build_num" jdbcType="VARCHAR"/>
        <result property="unitNum" column="unit_num" jdbcType="VARCHAR"/>
        <result property="floorNum" column="floor_num" jdbcType="VARCHAR"/>
        <result property="roomNum" column="room_num" jdbcType="VARCHAR"/>
        <result property="fillPersonPhone" column="fill_person_phone" jdbcType="VARCHAR"/>
        <result property="examinePersonName" column="examine_person_name" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
        <result property="modifiedDate" column="modified_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap type="com.zmn.census.api.vo.CensusSurveyVO" id="CensusSurveyInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <association property="roomAddress" javaType="com.zmn.census.api.vo.RoomAddressVO" column="id"
                     select="queryRoomAddressById"/>
        <association property="houseHold" javaType="com.zmn.census.api.vo.HouseHoldVO" column="id"
                     select="com.zmn.census.action.mapper.HouseHoldMapper.queryByRoomAddressId"/>
        <collection property="personInfoList" ofType="com.zmn.census.api.vo.PersonInfoVO" column="id"
                    select="com.zmn.census.action.mapper.PersonInfoMapper.queryByRoomAddressId"/>
    </resultMap>

    <select id="findCensusSurveyVOList" resultMap="CensusSurveyInfoMap">
        select
        id
        from zmn_census_room_address t1
        <where>
            AND t1.deleted =0
            <if test="town !=null and town!=''">
                AND t1.town LIKE concat('%',#{town,jdbcType=VARCHAR},'%')
            </if>
            <if test="village !=null and village!=''">
                AND t1.village LIKE concat('%',#{village,jdbcType=VARCHAR},'%')
            </if>
            <if test="community !=null and community!=''">
                AND t1.community LIKE concat('%',#{community,jdbcType=VARCHAR},'%')
            </if>
            <if test="buildNum !=null and buildNum!=''">
                AND t1.build_num LIKE concat('%',#{buildNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="unitNum !=null and unitNum!=''">
                AND t1.unit_num LIKE concat('%',#{unitNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="floorNum !=null and floorNum!=''">
                AND t1.floor_num LIKE concat('%',#{floorNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="roomNum !=null and roomNum!=''">
                AND t1.room_num LIKE concat('%',#{roomNum,jdbcType=VARCHAR},'%')
            </if>
            <if test="examinePersonName !=null and examinePersonName!=''">
                AND t1.examine_person_name LIKE concat('%',#{examinePersonName,jdbcType=VARCHAR},'%')
            </if>
            <if test="chargePersonId !=null">
                and t1.charge_person_id= #{chargePersonId,jdbcType=INTEGER}
            </if>
            <if test="startTime !=null and startTime!='' and endTime !=null and endTime!=''">
                AND created_date &gt; #{startTime,jdbcType=VARCHAR} and created_date &lt; #{endTime,jdbcType=VARCHAR}
            </if>

        </where>

    </select>

    <select id="queryRoomAddressById" resultMap="ZmnCensusRoomAddressMap">
        select
        *
        from zmn_census_room_address t1
        where t1.deleted=0 and  t1.id = #{id}
    </select>

    <select id="selectAllCommunityCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM zmn_census_community where deleted = 0
    </select>

    <select id="selectAllSurveyCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM zmn_census_room_address where deleted = 0
    </select>

    <select id="selectAllPersonCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM zmn_census_person_info where deleted = 0
    </select>

    <select id="selectYesterdaySurveyCount" resultType="java.lang.Integer">
       SELECT COUNT(*) FROM zmn_census_room_address WHERE deleted =0 AND  TO_DAYS(created_date) = TO_DAYS(NOW())-1;
    </select>

    <select id="selectTodaySurveyCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM zmn_census_room_address WHERE deleted =0 AND  TO_DAYS(created_date) = TO_DAYS(NOW())
    </select>

    <select id="selectSurveyCount" parameterType="com.zmn.census.api.qo.CensusSurveyCountQO" resultType="com.zmn.census.api.vo.CensusSurveyCountVO">
        SELECT
        DATE_FORMAT(created_date, '%Y-%m-%d') AS time,
        count(*) AS surveyCount,
        SUM(person_count) AS personCount
        FROM
            zmn_census_room_address
        <where>
            AND deleted =0
            <if test="communityId !=null">
                and community_id= #{communityId,jdbcType=INTEGER}
            </if>

        </where>
        GROUP BY  time
        ORDER BY time ASC;
    </select>

</mapper>